body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  background-color:  #D9EBD8;
  color: #3E3E3C;
}
/* background-image: linear-gradient(to bottom right, #657D64, #D9EBD8) */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #BABAB3;
}

input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: #3E3E3C;
  background-color: #ECEDDD;
  border-color: #D9EBD8;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
}

input:focus {
  box-shadow: 0px 1px 3px #3E3E3C;
  outline: none;
}

button:focus {
  outline: none;
}

.btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: #3E3E3C;
  background-color: #ECEDDD;
  border-color: #3E3E3C;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  cursor: pointer;
}


/* Welcome.js */

#welcome {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* About.js */

#about {
  grid-column: 1/2;
  padding-top: 85px;
  padding-left: 150px;
}

#welcome-title {
  font-size: 125px;
  color: #3E3E3C;
  text-shadow: 3px 3px 3px #84A882;
}

#welcome-text {
  margin-left: 95px;
}


/* <Login/> */

#login {
  grid-column: 2/2;
  display: grid;
  grid-template-columns: 1fr 1fr;  
  justify-items: center;
  align-items: center;
  padding-left: 150px;
}

#login-errors {
  grid-row: 1/2;
  position: fixed;
  margin-top: 75px;
  padding-bottom: 10px;
  font-family: monospace;
  font-size: 15px;
  color: #FE4B4B;
}

#login-form {
  width: 300px;
  grid-row: 2/3;
  margin-top: 75px;
  font-size: 30px;
}

#login-toggle {
  grid-row: 3/3;
  align-self: center;
  justify-self: center;
}

.login-input {
  margin: 1px;
  font-size: 20px;
  width: 98%;
}

#login-submit {
  align-self: center;
  width: 100%;
}


/* Header.js */

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 7px; 
  height: 50px;
  width: 99%;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
  background-image: linear-gradient(to bottom, #5D705D, #84A882);
  z-index: 1;
}    

#site-title {
  padding-bottom: 5px;
  font-size: 60px;
  color: #84A882;
  text-shadow: 1px 1px 3px #3E3E3C;
}

#home-dash {
  font-size: 20px;
  color: #84A882;
  text-shadow: 1px 1px 3px #3E3E3C;
}

#log-out {
  color: #3E3E3C;
  background-color: #84A882;
  border-color: #5D705D;
}

#log-out:hover {
  border-color: #3E3E3C;
}


/* NavBar.js */


